---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import SocialProof from '../components/SocialProof.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Features from '../components/Features.astro';
import ForWhom from '../components/ForWhom.astro';
import Integrations from '../components/Integrations.astro';
import Security from '../components/Security.astro';
import Pricing from '../components/Pricing.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <SocialProof />
    <HowItWorks />
    <Features />
    <ForWhom />
    <Integrations />
    <Security />
    <Pricing />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
